body {
	font-size:16px;
	line-height:22px;
	color:#ffffff;
	font-weight:700;
	font-family:"Roboto","Arial",sans-serif;
    background-color:#849d8f;
	z-index:1;
}
body a {
	text-decoration:none;
}
body > input[type="radio"] {
    display:none;
}
.container {
	width:1148px;
	padding:0;
	margin:0 auto;
}
.clearfix::after {
	content:"";
	display:table;
	clear:both;
}
.logo {
	display:block;
	float:left;
	width:155px;
	height:63px;
	margin-right:16px;
	padding-top:10px;
	cursor:pointer;
}
.main-menu {
	float:left;
	padding:0;
	margin:0;
	margin-top:23px;
	max-width:500px;
	list-style:none;
	font-size:0;
}
.main-menu > li {
	position:relative;
	display:inline-block;
	border-radius:25px;
	vertical-align:top;
}
.main-menu > li > a {
	position:relative;
	display:block;
	margin-top:8px;
	margin-bottom:7px;
	margin-left:14px;
	margin-right:14px;
	font-size:16px;
	line-height:16px;
	color:#ffffff;
	font-weight:700;
	font-family:"Roboto","Arial",sans-serif;
	border-bottom:1px solid #b8c7be;
	cursor:pointer;
}
.main-menu li:hover {
	background-color:#f7f6f3;
}
.main-menu li:hover a {
	border:none;
	background-color:#f7f6f3;
	color:#333333;
}
.main-menu > li:active {
	box-shadow:inset 0px 2px 1px 0px #6c6d6c;
	background-color:#ededed;
}
.main-menu .active {
	background-color:#d07058;
}
.main-menu .active a {
	border:none;
}
.sub-menu {
	display:none;
	position:absolute;
	min-width:145px;
	top:37px;
	left:-7px;
	margin:0;
	padding:0;
	list-style:none;
	background-color:#f8f7f4;
	border-radius:5px;
	box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	z-index:100;
}
.sub-menu li {
	height:20px;
	padding-left:21px;
	padding-right:21px;
	padding-top:7px;
	padding-bottom:6px;
}
.sub-menu a {
	font-size:14px;
	line-height:20px;
	font-family:"Roboto","Arial",sans-serif;
	font-weight:400;
	color:#343434;
}
.sub-menu .title	{
	margin:0;
	border-bottom:1px solid #d1d0ce;
	padding-bottom:11px;
}
.title a {
	font-size:14px;
	line-height:20px;
	font-weight:700;
	color:#333333;
}	
.main-menu li:first-child:hover .sub-menu {
	display:block;
}
.sub-menu li:hover {
	background-color:#fbded7;
}
.sub-menu li:hover a {
	background-color:#fbded7;
}
.sub-menu li:active {
	background-color:#f6b5a5;
}
.sub-menu li:active a {
	background-color:#f6b5a5;
}
.sub-menu .active2 {
	background-color:#d07058;
}
.user-block {
	float:right;
	max-width:265px;
	margin:0;
	margin-top:23px;	
}
.user-block-icons {
	margin:0;
	margin-bottom:5px;
	padding:0;
	list-style:none;
	font-size:0;
}
.user-block-icons li {
	position:relative;
	display:inline-block;
	margin:0;
	margin-right:11px;
	padding:0;
	padding-bottom:10px;
	vertical-align:top;
}
.user-block-icons li:last-child {
	margin-right:0;
}
.user-block-icons li:hover .search-area {
	display:block;
}
.user-block-icons li:hover .login-area {
	display:block;
}
.user-block-icons li:hover .cart-area {
	display:block;
}
.user-block-icons a {
	display:block;
	position:relative;
	font-size:14px;
	line-height:20px;
	font-weight:500;
	color:#ffffff;
	text-decoration:none;
  vertical-align:top;
	cursor:pointer;
}
.user-block-icons a:hover {
	background-color:#f8f7f4;
	color:#323232;
}
.user-block-icons .search {
	width:32px;
	height:32px;
	border-radius:50%;
	background:#b9c8c0 url("../img/sprite.png") no-repeat -13px -393px;
}
.user-block-icons .search:hover {
	background:#f8f7f4 url("../img/sprite.png") no-repeat -13px -450px;
}
.search-area {
	position:absolute;
	display:none;
	top:37px;
	left:-238px;
	padding:15px;
	background-color:#f8f7f4;
	border-radius:5px;
	z-index:100;
}
.search-area input[type="search"] {
	width:217px;
	padding-top:9px;
	padding-bottom:6px;
	padding-left:11px;
	padding-right:11px;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	color:#999999;
	background-color:#ffffff;
	border-radius:5px;
	border:1px solid #d3d3d2;
}
.search-area input[type="search"]:hover {
	border:2px solid #d3d3d2;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
}
.search-area input[type="search"]:focus {
    border:2px solid #8fbdec;
	border-radius:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	outline:none; 
}	
.user-block-icons .login {
	position:relative;
	padding-top:7px;
	padding-bottom:5px;
	padding-right:16px;
	padding-left:43px;
	border-radius:25px;
	background:#b9c8c0 url("../img/sprite.png") no-repeat -5px -276px;
}
.user-block-icons .login:hover {
	background:#f8f7f4 url("../img/sprite.png") no-repeat -5px -335px;
}
.login-area {
	position:absolute;
	display:none;
	width:241px;
	top:37px;
	left:-210px;
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
	background-color:#f8f7f4;
	border-radius:5px;
	z-index:100;
}
.login-area input[type="email"]{
	float:left;
	width:209px;
	padding-top:9px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:6px;
	margin:0;
	margin-bottom:10px;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	color:#999999;
	background-color:#ffffff;
    border:1px solid #d3d3d2;
	border-radius:5px;
}
.login-area input[type="email"]:hover {
	border:2px solid #d3d3d2;
	padding-top:8px;
	padding-left:14px;
	padding-right:14px;
	padding-bottom:5px;
}
.login-area input[type="email"]:focus {
	border:2px solid #8fbdec;
	padding-top:8px;
	padding-left:14px;
	padding-right:14px;
	padding-bottom:5px;
	outline:none;
}
.login-area input[type="password"] {
	float:left;
	width:209px;
	padding-top:9px;
	padding-left:15px;
    padding-right:15px;	
	padding-bottom:6px;
	margin-bottom:15px;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	color:#999999;
	background-color:#ffffff;
	border-radius:5px;
	border:1px solid #d3d3d2;
}
.login-area input[type="password"]:hover {
	border:2px solid #d3d3d2;
	padding-top:8px;
	padding-left:14px;
	padding-right:14px;
	padding-bottom:5px;
}
.login-area input[type="password"]:focus {
	border:2px solid #8fbdec;
	padding-top:8px;
	padding-left:14px;
	padding-right:14px;
	padding-bottom:5px;
	outline:none;
}	
.login-area input[type="submit"] {
	float:left;
	width:103px;
	margin-right:18px;
	padding-top:6px; 
	padding-left:30px; 
	padding-right:30px;
	padding-bottom:5px;
	font-size:15px;
	line-height:25px;
	font-weight:700;
	color:#fefefe;
	border:none;
    background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow:0px 1px 2px 0px rgba(172, 16, 0, 0.004);
	border-radius:25px;
}
.login-area input[type="submit"]:hover {
  background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow:0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
.login-area input[type="submit"]:active {
  background-image:-moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image:-webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image:-ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow:inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}	
.login-ref {
	float:left;
	width:120px;
}
.login-ref a {
	font-size:13px;
	line-height:18px;
	font-weight:400;
	color:#333333;
	text-decoration:underline;
	cursor:pointer;
}
.user-block-icons .cart-empty {
	position:relative;
	padding-top:7px;
	padding-bottom:5px;
	padding-right:34px;
	padding-left:44px;
	border-radius:25px;
	background:#b9c8c0 url("../img/sprite.png") no-repeat -5px -14px;
}
.user-block-icons .cart-full {
	display:none;
	position:relative;
	padding-top:7px;
	padding-bottom:5px;
	padding-right:16px;
	padding-left:44px;
	border-radius:25px;
	background-color:#f8f7f4;
	background:url("../img/sprite.png") no-repeat -5px -74px,
	           url("../img/cart-full.png") no-repeat 19px 10px;;
}
.user-block-icons li:hover .cart-empty {
	display:none;
}	
.user-block-icons li:hover .cart-full {
	display:block;
}
.cart-area {
	position:absolute;
	display:none;
	left:-420px;
	top:37px;
	padding-top:16px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:14px;
	background-color:#f8f7f4;
	border-radius:5px;
	z-index:100;
}
table {
	border-collapse:collapse;
}
.line {
	border-bottom:1px solid #cacac7;
}
td { 
	padding:10px 13px;
	padding-left:2px;
	font-size:13px;
	line-height:17px;
	font-weight:400;
	color:#333333;
	vertical-align:middle;
}
.td-3 {
	padding-right:30px;
}
.td-4 {
	height:33px;
	width:97px;
	padding-right:30px;
}
.clr {
	color:#808080;
}
.td-5 {
	width:50px;
	height:33px;
	padding-right:30px;
}
.total {
	padding-right:30px;
	font-size:15px;
	line-height:26px;
	text-align:right;
	font-weight:700px;
}
.cart-area .button {
	float:right;
	margin-right:0;
	padding:5px 22px;
	font-size:15px;
	line-height:25px;
	font-weight:700px;
	color:#fefefe;
	background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow:0px 1px 2px 0px rgba(172, 16, 0, 0.004);
	border-radius:25px;
}
.schedule {
	font-size:14px;
	line-height:20px;
	font-weight:700;
	color:#ffffff;
	text-align:right;
}
.phone a {
	display:block;
	font-size:22px;
	line-height:28px;
	font-weight:900;
	color:#ffffff;
	text-decoration:none;
	text-align:right;
}
.site-wrapper {
    min-width:1200px;
    min-height:100vh; 
    background-repeat:no-repeat;
    background-position:top center;
    transition:background-image 0.5s ease, background-color 0.5s ease; 
}
.site-wrapper:before,
.site-wrapper:after {
    content: "";
	visibility:hidden;
}  

.site-wrapper:before,
.site-wrapper:after {
    background-image:url("../img/index-main.png");
}

.site-wrapper:after {
    background-image:url("../img/index-main.png");
}

.content-wrapper {
    width:1200px;
    margin:0 auto;
}
.slider {
    position:relative;
    padding-top:204px;
    text-align:center;
    color:#ffffff;
}
.slide {
    display:none;
} 
.slide-title {
    width:700px;
    margin:0 auto;
	margin-top:67px; 
    margin-bottom:32px;
    font-weight:900;
    font-size:60px;
	line-height:60.35px;
}
.slide-btn {
    display:inline-block;
    padding:2px 39px;
	padding-right:42px;
    font-weight:700;
    font-size:32px;
    line-height:60px;
    vertical-align:top;
    color:#ffffff;
    text-decoration:none;
    text-shadow:0 2px 5px rgba(160, 32, 11, 0.76);
    background:#f26843;
    background:-moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:-webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow:0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius:100px;
}
.slide-btn:hover {
    background:-moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:-webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow:0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
    background:-moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:-webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow:inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
    position:absolute;
	min-width:85px;
    bottom:21px;
    left:0;
    z-index:20;
    font-size:0;
}
.slider-controls label {
    display:inline-block;
    width:17px;
    height:17px;
	padding:0;
	margin:0;
    margin-right:8px;
    vertical-align:top;
    background-color: transparent;
    border:2px solid #ffffff;
    border-radius:50px;
    cursor:pointer;
}
.slider-controls label:hover {
	background-color:#b2c1b7;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display:block;
}

#btn-1:checked ~ .site-wrapper {
  background-color:#849d8f;
  background-image:url("../img/index-main.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color:#8996a6;
  background-image:url("../img/index-main.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color:#9d8b84;
  background-image:url("../img/index-main.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color:#ffffff;
}

.free {
    margin-top:41px;
	margin-bottom:30px;
}
.free-raspberry {
	float:left;
	width:521px;
	min-height:188px;
	padding-left:20px;
	padding-right:20px; 
	padding-top:11px;
	padding-bottom:30px;
	margin-right:25px;
	border-radius:5px;
	background-color:#c34466;
	background:url("../img/index-raspberry.png") no-repeat;
}
.free-chocolate {
	float:right;
	width:521px;
	min-height:188px;
	padding-right:20px;
	padding-left: 20px;
	padding-top:11px; 
	padding-bottom:30px;
	border-radius:5px;
	background-color:#734a3c;
	background:url("../img/index-chocolate.png") no-repeat;
}
.free-header {
	margin-top:0;
	margin-bottom:11px;
	font-size:35px;
	line-height:45px;
	font-weight:700;
}
.free p {
	margin:0;
	margin-bottom:45px;
	font-size:18px;
	line-height:24px;
	font-weight:700;
}
.free .button {
	display:block;
	padding-top:10px;
	padding-bottom:9px;
	padding-left:22px;
	padding-right:22px;
    font-size:18px;
	line-height:24px;
	font-weight:700;
	color:#fefefe;
    background-image:-moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
    opacity: 0.988;
    box-shadow:0px 2px 2px 0px rgba(85, 8, 0, 0.54);
    border-radius:25px;
}
.free .button:hover {
	background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow:0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
.free-raspberry .button {
    min-width:121px;
	height:24px;
	margin-left:354px;
}
.free-chocolate .button {
	min-width:150px;
	height:24px;
	margin-left:325px;
}
.icecream {
	margin-top:20px;
}
.cream-cover {
	float:left;
	position:relative;
	width:267px;
	min-height:375px;
	padding:10px;
	padding-bottom:22px;
	margin-bottom:-50px;
    border-radius:10px;
	opacity:0.7;
    z-index:100;
}
.cover-1 {
	z-index:120;
}
.cover-2 {
	z-index:110;
}
.cover-3 {
	z-index:100;
}
.cream-cover .button {
	position:absolute;
	display:none;
	width:201px;
	bottom:22px;
	left:5px;
	padding:5px 28px;
	margin-left:10px;
	font-size:15px;
	line-height:25px;
	font-weight:700;
	color:#fcedeb;
	text-align:center;
	background:#f26843;
    background:-moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:-webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow:0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius:25px;
}
.cream-cover:hover {
	background-color:#a7b8ad;
}
.cream-cover:hover .button {
	display:block;
}
.cream-cover:hover a {
	border:none;
}
.cream {
	position:relative;
	float:left;
	width:267px;
	height:325px;
	margin-bottom:16px;
	text-align:center;
}
.cream img {
	position:relative;
	display:block;
	width:267px;
	height:267px;
}
.cream .popular {
	position:absolute;
	top:0;
	left:0;
	width:61px;
	height:61px;
	font-size:0;
	background:url("../img/index-h.png") no-repeat;
}
.cream .price-mass {
	position:relative;
	top:-52px;
	left:0;
	width:155px;
	vertical-align:bottom;
}
.cream .price {
	position:relative;
	top:0;
	left:0;
	width:75px;
	padding-right:33px;
	font-size:45px;
	font-weight:700;
	color:#ffffff;
}
.cream .price:after {
	content:"";
	position:absolute;
	top:13px;
	right:0;
	width:27px;
	height:32px;
	background:url(../img/rubl.svg) no-repeat;
}
.cream .mass {
	position:relative;
	top:0;
	right:0;
	width:44px;
	height:24px;
	font-size:24px;
	font-weight:700;
	color:#ffffff;
}
.cream a {
	position:relative;
	top:-20px;
	font-size:16px;
	line-height:22px;
	font-weight:500;
	font-family:"Roboto",sans-serif;
	color:#ffffff;
	border-bottom:1px solid #b8c7be;
}
.cream a:hover {
	color:#ffbc9e;
	border-bottom:1px solid #a7a294;
}
.cream a:active {
	color:#ffbc9e;
	border-bottom:1px solid #a7a294;
}
.cream img {
	border-radius:50%;
}
.orange img{
	background-color:#feab29;
}
.coffee img{
	background-color:#bb6d43;
}
.strawberry img{
	background-color:#f07399;
}
.caramel img{
	background-color:#f8e5c4;
}
.cowberry img{
	background-color:#ce0011;
}
.blueberry img{
	background-color:#7d737c;
}
.lemon img{
	background-color:#f4c51e;
}
.chocolate img{
	background-color:#e5e0cd;
}
.vanil img{
	background-color:#f6e095;
}
.menthol img{
	background-color:#9aedf1;
}
.dark-chocolate img{
	background-color:#eaeae9;
}
.spearmint img{
	background-color:#87d185;
}
.shop-info {
	min-height:256px;
	margin-top:7px;
	padding-top:24px; 
	padding-bottom:27px;
	padding-left:21px;
	padding-right:21px;
	border-radius:10px;
	color:#000000;
	background-color:#e7d7b2;
	background:url("../img/gllacy-vaflya.jpg");
}
.shop-header {
	margin:0;
	margin-bottom:9px;
	font-size:24px;
	line-height:30px;
	font-weight:500;
}
.details-left {
	float:left;
	width:540px;
	min-height:138px;
	margin-right:26px;
}
.details-right {
	float:right;
	width:540px;
	min-height:138px;
}
.details-left-top,.details-right-top {
	min-height:87px;
}
.details p {
	position:relative;
	margin:0;
	padding-left:55px;
	padding-top:13px;
	font-size:16px;
	line-height:22px;
	font-weight:400;
}
.details p:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:47px;
	height:47px;
	border-radius:50%;	
}
.details-left-top p:before {
	background:url("../img/index-icon1.svg") no-repeat;
}
.details-left-bottom p:before {
	background:url("../img/index-icon2.svg") no-repeat;
}
.details-right-top p:before {
	background:url("../img/index-icon3.svg") no-repeat;
}
.details-right-bottom p:before {
	background:url("../img/index-icon4.svg") no-repeat;
}
.add-info {
	margin-top:40px;
}
.blog {
	float:left;
	width:520px;
	min-height:170px;
	padding:25px 20px;
	margin-right:25px;
	background-color:#ffffff;
	background:url("../img/index-blog.jpg") repeat-y;
	border-radius:10px;
}
.blog p {
	margin:0;
	margin-bottom:4px;
	color:#5a5a5a;
	font-weight:500;
}
.blog a {
	display:block;
    margin:0;
	width:300px;
	font-size:24px;
	line-height:32px;
	font-weight:700;
	color:#353535;
	text-decoration:underline;
}
.blog a:hover {
	color:#ec593c;
}
.blog a:active {
	color:#ec593c;
}
.subscription {
	position:relative;
	float:right;
	width:508px;
	min-height:150px;
	padding:30px 26px 40px;
	background:url("../img/sub-top.jpg") no-repeat top left,
	           url("../img/sub-bottom.jpg") no-repeat bottom left,
			   url("../img/sub-middle.jpg") repeat-y;		   
	border-radius:10px;
}
.subscription p {
	margin:0;
	margin-bottom:15px;
	padding:0;
	font-size:16px;
	line-height:22px;
	color:#5a5a5a;
	font-weight:400;
}
.subscription input[type="email"] {
	width:345px;
	margin-right:8px;
	padding:10px;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	border-radius:5px;
	border:1px solid #d3d3d2;
}
.subscription input[type="email"]:hover {
	border:2px solid #d3d3d2;
	padding:9px;
}
.subscription input[type="email"]:focus {
	border:2px solid #8fbdec;
	padding:9px;
	outline:none;
}
.subscription input[type="submit"] {
	float:right;
	width:129px;
	padding:11px 21px 9px;
	font-size:17px;
	line-height:25px;
	font-weight:700;
	color:#fefefe;
	border:none;
	border-radius:25px;	
    background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow:0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.map {
	margin:0 auto;
    margin-top:40px;
	width:1200px;
	height:430px;
	background-color:#ece5c8;
	background:url("../img/index-map.jpg") no-repeat;
}
.map-icon {
	float:left;
	width:218px;
	height:142px;
	margin-left:240px;
	margin-top:138px;
	background:url("../img/map-icon.png") no-repeat;
}
.contacts {
	position:relative;
	float:right;
	width:252px;
	min-height:245px;
	padding:30px 25px;
	margin-top:60px;
	margin-right:0;
	background-color:#fefefe;
	border-radius:10px;
}
.contacts-phone {
	margin-top:17px;
	margin-bottom:24px;
}
.contacts p {
	margin:0;
	font-size:14px;
	line-height:20px;
	font-weight:400;
	color:#343434;
}
.contacts .bold {
	margin:3px 0;
	font-size:18px;
	line-height:24px;
	font-weight:700;
	color:#343434;
}
.contacts a {
	display:block;
	width:220px;
	padding-top:10px; 
	padding-bottom:9px;
	padding-left:32px;
	font-size:17px;
	line-height:25px;
	color:#fefefe;
	font-weight:700;
	border-radius:25px;	
    background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow:0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	cursor:pointer;
}
.contacts-form {
	position:absolute;
	display:none;
	width:427px;
	padding:25px;
	padding-top:20px;
	bottom:-40px;
	left:-170px;
	border-radius:10px;
	background-color:#f8f7f4;
	z-index:100;
}
.contacts-form:before {
	content:"";
	position:absolute;
	width:17px;
	height:17px;
	background:url("../img/x-2.svg") no-repeat;
	top:15px;
	right:15px;	
}
.user-header {
	font:24px;
	line-height:22px;
	color:#343434;
	margin:0;
	margin-bottom:25px;
	padding:0;
}
.contacts-form input[type="text"] {
	width:235px;
	height:24px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:8px;
	margin-bottom:20px;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	color:#656565;
	border:1px solid #d3d3d2;
	border-radius:5px;
}
textarea {
	width:390px;
	border:1px solid #d3d3d2;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:25px;
}
.contacts-form input[type="submit"] {
	padding-top:10px;
	padding-bottom:9px;
	padding-left:27px;
	padding-right:27px;
	font-size:17px;
	line-height:25px;
	font-weight:700;
	color:#fefefe;
	cursor:pointer;
	border:none;
	background-image:-moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow:0px 1px 2px 0px rgba(172, 16, 0, 0.004);
	border-radius:25px;
	
}	
.contacts:hover .contacts-form {
	display:block;
}
.contacts-form input[type="text"]:hover {
	border:2px solid #d3d3d2;
	padding-left:14px;
	padding-right:14px;
	padding-top:9px;
	padding-bottom:7px;
}	
.contacts-form input[type="text"]:focus {
	border:2px solid #8fbdec;
	padding-left:14px;
	padding-right:14px;
	padding-top:9px;
	padding-bottom:7px;
}
.contacts-form input[type="text"]:focus .top {
	display:block;
}
.breadcrumbs {
	margin:0;
	margin-top:-23px;
	margin-left:4px;
	padding:0;
	list-style:none;
	font-size:0;
}
.breadcrumbs li {
	display:inline-block;
    padding-right:20px;
    vertical-align:top;	
}
.breadcrumbs a {
	font-size:14px;
	line-height:20px;
	font-weight:400;
	color:#ffffff;
	border-bottom:1px solid #b8c7be;
	cursor:pointer;
}
.breadcrumbs a:hover {
	color:#ffbc9e;
	border-bottom:1px solid #a7a294;
}
.breadcrumbs a:active {
	color:#ffbc9e;
	border-bottom:1px solid #a7a294;
}
.breadcrumbs li:last-child a {
	border:none;
}
.catalog-header {
	margin:0;
	margin-top:1px;
	margin-left:3px;
	margin-bottom:29px;
	padding:0;
	font-size:35px;
	line-height:30px;
	font-weight:700;
}
.choice {
	display:inline-block;
	min-height:60px;
	margin-right:7px;
	margin-left:4px; 
	margin-bottom:11px;
	color:#ffffff;
	vertical-align:bottom;
}
.title {
	font-size:14px;
	line-height:20px;
	font-weight:500px;
	margin-left:15px;
	margin-bottom:5px;
}
.option {
	padding:7px 15px;
	font-size:16px;
	font-weight:500px;
	border-radius:25px;
	background-color:#a9bab0;
}
select {
	width:165px;
	color:#ffffff;
	border:none;
    background-color:transparent;
	outline:none;
}
.choice:first-of-type:hover .option  {
	background-color:#ffffff;
	color:#343434;
}
.choice:first-of-type:hover select {
	color:#343434;
}
.range-box {
	position:relative;
	width:188px;
	height:21px;
}
.range {
	position:absolute;
	top:9px;
	width:188px;
	height:4px;
	background-color:#d1d9d2;
}
.price-range {
	position:absolute;
	top:9px;
	left:30px;
	width:100px;
	height:4px;
	background-color:#f8f7f4;
}
.toggle {
	position:absolute;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#f8f7f4;
}
.toggle:hover {
	cursor:pointer;
}
.min-toggle {
	top:0;
	left:19px;	
}
.max-toggle {
	top:0;
	left:117px;
}
input[type="radio"] {
	display:none;
}
input[type="checkbox"] {
	display:none;
}
input[type="radio"]+label {
	position:relative;
	display:inline-block;
	padding-left:32px;
	margin-right:12px;
}
label:last-child {
	margin-right:0;
}
input[type="radio"]+label:before {
	content:"";
	position:absolute;
	left:0;
	width:20px;
	height:20px;
	background:url("../img/radiobutton1.svg") no-repeat;
	cursor:pointer;
}
input[type="radio"]:checked+label:before {
	background:url("../img/radiobutton-x1.svg") no-repeat;
}
input[type="radio"]:checked+label:hover:before {
	background:url("../img/radiobutton-x2.svg") no-repeat;
}
input[type="radio"]:disabled+label:before {
	background:url("../img/radiobutton3.svg") no-repeat;
}
input[type="radio"]+label:hover:before {
	background:url("../img/radiobutton2.svg") no-repeat;
}
input[type="radio"]:checked:disabled+label:before {
	background:url("../img/radiobutton-x3.svg") no-repeat;
}
input[type="checkbox"]+label:before {
	content:"";
	position:absolute;
	left:2px;
	top:2px;
	width:20px;
	height:20px;
	background:url("../img/checkbox1.svg") no-repeat;
	cursor:pointer;
}
input[type="checkbox"]:checked+label:before {
	background:url("../img/checkbox-x1.svg") no-repeat;
}
input[type="checkbox"]:checked+label:hover:before {
	background:url("../img/checkbox-x2.svg") no-repeat;
} 
input[type="checkbox"]:disabled+label:before {
	background:url("../img/checkbox3.svg") no-repeat;
}
input[type="checkbox"]+label:hover:before {
	background:url("../img/checkbox2.svg") no-repeat;
}
input[type="checkbox"]:checked:disabled+label:before {
	background:url("../img/checkbox-x3.svg") no-repeat;
}
input[type="checkbox"]+ label {
	position:relative;
	padding-left:35px;
	margin-right:12px;
}
.choice input[type="submit"] {
	padding:6px 29px 4px;
	font-size:16px;
	line-height:22px;
	font-weight:500;
	color:#fbfcfb;
	border:2px solid #f5f7f6;
	border-radius:25px;
	background-color:transparent;
	outline:transparent;
}
.choice input[type="submit"]:hover {
	border:none;
	background-color:#fafbfb;
	color:#383939;
}
.choice input[type="submit"]:active {
	border:none;
	outline:none;
    background-color:#eaeaea;
    color:#383939;
    box-shadow:inset 0px 2px 1px 0px #8e8e8e;
}
.submit {
	padding-top:24px;
}
.pages {
	float:right;
	margin-top:51px;
	min-width:183px;
	margin-bottom:30px;
}
.page-list {
	margin:0;
	padding:0;
	list-style:0;
}
.page-list li {
	display:inline-block;
	vertical-align:top;
}
.page-list  a {
	position:relative;
	display:block;
	width:26px;
	height:24px;
	padding-top:2px;
	margin-right:-4px;
	border-radius:50%;
	text-align:center;
	font-size:16px;
	color:#ffffff;
	font-weight:500;
	cursor:pointer;
}
.page-list .active {
	background-color:#ffffff;
	color:#000000;
}

.page-list .prev {
	font-size:0;	
}
.page-list .prev {
	background:url("../img/arrow-left.svg") no-repeat 7px 7px ;
}
.page-list .next {
	background:url("../img/arrow-left.svg") no-repeat 7px 7px ;
	transform:rotate(180deg);
}
.page-list a:hover {
	background-color:#9db1a5;
	cursor:pointer;
}
.page-list a:active {
	background-color:#ebebeb;
}
.footer-social {
	margin-left:6px;
	float:left;
	min-width:394px;
}
.footer-social ul {
	margin:0;
	padding:0;
	padding-top:37px;
	padding-bottom:34px;
	list-style:none;
	font-size:0;	
}
.footer-social li {
	display:inline-block;
	margin-right:12px;
	vertical-align:middle;
}
/*.footer-social li:last-child {
	margin-right:0;
}*/
.social	{
	display:block;
	width:31px;
	height:31px;
	border:3px solid #c2cec7;
	border-radius:50%;
}
.social-tw {
	background:url("../img/index-tw.svg") no-repeat;
	opacity:0.7;
}
.social-tw:hover {
	border:4px solid #dbe3de;
	width:29px;
	height:29px;
	opacity:1;
}
.social-tw:active {
	border:4px solid #d9e1dd;
    box-shadow:inset 0px 1px 1px 0px #9b9b9b;
	opacity:1;
}
.social-inst {
	background:url("../img/index-inst.svg") no-repeat;
	opacity:0.7;
}
.social-inst:hover {
	border:4px solid #dbe3de;
	width:29px;
	height:29px;
	opacity:1;
}
.social-inst:active {
	border:4px solid #d9e1dd;
    box-shadow:inset 0px 1px 1px 0px #9b9b9b;
	opacity:1;
}
.social-fb {
	background:url("../img/index-fb.svg") no-repeat;
	opacity:0.7;
}
.social-fb:hover {
	border:4px solid #dbe3de;
	width:29px;
	height:29px;
	opacity:1;
}
.social-fb:active {
	border:4px solid #d9e1dd;
    box-shadow:inset 0px 1px 1px 0px #9b9b9b;
	opacity:1;
}
.social-vk {
	background:url("../img/index-vk.svg") no-repeat;
	opacity:0.7;
}
.social-vk:hover {
	border:4px solid #dbe3de;
	width:29px;
	height:29px;
	opacity:1;
}
.social-vk:active {
	border:4px solid #d9e1dd;
    box-shadow:inset 0px 1px 1px 0px #9b9b9b;
	opacity:1;
}
.footer-reference {
	float:left;
	min-width:330px;
	padding-top:35px;
	padding-bottom:26px;
}
.reference-left {
	float:left;
	min-width:140px;
	margin:0;
	margin-right:25px;
	padding:0;
	list-style:none;
}
.reference-right {
	float:right;
	min-width:165px;
	margin:0;
	padding:0;
	list-style:none;
}
.footer-reference a {
	display:block;
	margin-bottom:2px;
	font-size:13px;
	line-height:18px;
	font-weight:400;
	color:#ffffff;
} 
.footer-reference a:hover {
	color:#ffbc9e;
}
.footer-reference a:active {
	color:#ffbc9e;
}
.reference-left a {
	position:relative;
	padding-left:22px;
}
.reference-left b:before {
    content:"";
    position:absolute;
	top:2px;
	left:0;
	width:15px;
	height:13px;
    background:url("../img/index-heart.svg") no-repeat;
}
.footer-copyright {
	float:right;
	min-width:197px;
	padding-top:21px;
	padding-bottom:19px;
	
}
.cite-icon a {
	display:block;
	width:108px;
	height:37px;
	font-size:0;
	text-decoration:none;
	background:url("../img/footer-logo.svg") no-repeat;
}
.cite-info {
	margin-top:6px;
    font-size:12px;
	line-height:16px;
    font-weight:400;	
}
.cite-info a {
	font-size:12px;
	line-height:16px;
	color:#ffffff;
	font-weight:400;
}
.cite-info a:hover {
	color:#ffbc9e;
}
.cite-info a:active {
	color:#ffbc9e;
}